.block {

	&_dark {
		background-color: $bgcolor
	}

	&__content {
		width: 100%;
	}

	&__body {
		flex: 1;
		display: flex;
		padding: 40px 0px;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		margin-bottom: 25px;

		@media (max-width: 449px) {
			margin-bottom: 20px;
		}

		@media (max-width: 379px) {
			margin-bottom: 15px;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 80px;
		}
		text-align: center;

		@media (max-width: 768px) {
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}

		@media (max-width: 449px) {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}

		@media (max-width: 379px) {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		row-gap: 70px;

		&_align-bottom {
			.block__column {
				align-items: flex-end;
			}
		}

		@media (max-width: 768px) {
			flex-direction: column;
			flex-wrap: nowrap;
			row-gap: 35px;
		}

		@media (max-width: 449px) {
			row-gap: 25px;
		}

		@media (max-width: 379px) {
			row-gap: 20px;
		}
	}

	&__column {
		flex: 1 1 30%;
		box-sizing: border-box;
		padding: 0px 15px;
		display: flex;
		justify-content: center;

		@media (max-width: 1199px) {
			flex-basis: 50%;
		}
	}

	&__text-column {
		max-width: 355px;
	}

	&__price-card {
		box-sizing: border-box;
		flex: 1;
		max-width: 343px;

		@media (max-width: 767px) {
			max-width: 400px;
		}

		@media (max-width: 579px) {
			max-width: 360px;
		}

		@media (max-width: 449px) {
			max-width: 90%;
		}

		@media (max-width: 379px) {
			max-width: 100%;
		}
	}

	&__review {
		max-width: 275px;

		@media (max-width: 767px) {
			max-width: 400px;
		}

		@media (max-width: 449px) {
			max-width: 320px;
		}
	}
}