.btn {
	font-size: 0.9375rem;
	font-weight: 600;
	color: $wh;
	text-decoration: none;
	background-color: $orange;
	border: none;
	border-radius: 3px;

	&_w {
		border: solid $wh 2px;
		border-radius: 0px;
		background-color: transparent;
	}
}