.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $bl;
	
	&__body {
		padding: 20px 0px;
	}

	&__icons {
		max-width: 320px;
		margin-bottom: 15px;

		.icons__icon {
			min-width: 45px;
		}
	}

	&__copyright {
		color: $fc;
		text-align: center;
	}
}

