@import "./nullstyle.scss";
@import "./var.scss";

//Fonts
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap"; 

html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 72px;
	font-size: $fz;
	font-family: $df;
	color: $fc;
	line-height: 1.3rem;
	scroll-behavior: smooth;

	@media (max-width: 1199px) {
		padding-top: 90px;
	}
	
	@media (max-width: 380px) {
		line-height: 1.2rem;
		font-size: 0.8125rem;
	}
}

.content {
	box-sizing: border-box;
	max-width: 1136px;
	padding: 0px 15px;
	margin: 0px auto;
}

.test {
	font-family: $raleway;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;

	&__main {
		flex: 1 1 auto;
	}

	&__footer {
		flex-shrink: 0
	}
}

//BEM blocks
@import "./burger.scss";
@import "./header.scss";
@import "./logo.scss";
@import "./nav.scss";
@import "./footer.scss";
@import "./icons.scss";
@import "./subtitle.scss";
@import "./social.scss";
@import "./city.scss";
@import "./tabs.scss";
@import "./btn.scss";
@import "./fullscreen.scss";
@import "./btn.scss";
@import "./title.scss";
@import "./modern.scss";
@import "./trial-form.scss";
@import "./sublist.scss";
@import "./icon-text.scss";
@import "./circle-icon.scss";