@import "./nullstyle.scss";
@import "./var.scss";

//Fonts
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"; 

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: $fz;
	font-family: $df;
}

.content {
	max-width: 1126px;
	padding: 0px 10px;
	margin: 0px auto;
}

.test {
	font-family: $raleway;
}

//BEM blocks
@import "./burger.scss";
@import "./header.scss";
@import "./logo.scss";
@import "./nav.scss";