// Colors
//Paint
$bl: #000000;
$wh: #ffffff;
$orange: #ff8b38;
$lightorange: #ff9b51;

//Headings
$hclight: #333333;
$hc: #212121;
$hcdark: #000000;

//Text
$fc: #86878b;
$fclight: #ffffff;

//Fonts
$fz: 0.875rem;
$h2: 2.25rem;
$h3: 1.25rem;

$opensans: "Open Sans";
$raleway: "Raleway";

$df: $opensans;